
input[type=number],
select {
  display: block;
  height: 44px;
  max-width: 100%;
  margin: 0 0 20px 0;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 10px 19px 10px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  background-color: #f7f5f7;
  color: #6e6e6e;
  transition: background-color 0.3s, border-color 0.3s;
  letter-spacing: 0.04em;
}
input[type=number]::placeholder,
select::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #6e6e6e;
  outline: none;
  letter-spacing: 0.04em;
  -webkit-appearance: none;
  transition: 0.4s;
}
input[type=number]:focus::placeholder,
select:focus::placeholder,
select:active::placeholder {
  opacity: 0;
}

input[type=number]:focus,
select:focus {
  background-color: #ffffff;
  border-color: #ece8ec;
}


select:focus,
input[type=number]:focus{
  background-color: #ffffff;
  border-color: #ece8ec;
}